<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="book">
        <img src=<%= book.img %> alt="">
        <h4>Title: <%= book.title %></h2>
        <h5>Author: <%= book.author %></h5>
        <p>Description: <%= book.description %></p>



    </div>
<% }) %>

</body>
</html>