<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Searched Books</h1>
    <% books.forEach(book=>{ %>
        <div class="book">
            <img src=<%= book.img %> alt="">
            <h4>Title: <%= book.title %></h2>
            <h5>Author: <%= book.authors %></h3>
            <p>Description: <%= book.description %></p>
        </div>
    <% }) %>
</body>
</html>