<header>
    
    <nav>
        <h2>Best Books!</h2>
        <ul class="ulnav">
            <li><a href="/">Home</a></li>
            <li><a href="../searches/new">Search</a></li>
        </ul>
    </nav>
    
</header>