<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOOK APP</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <h1>Hello World</h1>
    <a href="../searches/new">Search</a>
    
    <% booksResults.forEach(book=>{ %>
        <div class="book">
            <img src=<%= book.img %> alt="">
            <h4>Title: <%= book.title %></h2>
            <h5>Author: <%= book.author %></h5>
            <p>Description: <%= book.description %></p>


    
        </div>
    <% }) %>


    
</body>
</html>